<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pp.androidservices">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AidlServiceActivity"></activity>
        <activity android:name=".MessangerServiceActivity" />
        <activity android:name=".IntentServiceActivity" />
        <activity android:name=".ServiceActivity" />
        <activity android:name=".BinderServiceActivity" />

        <service android:name=".service.MyService" />
        <service android:name=".intent_service.MyIntentService" />


        <service android:name=".binder_class.BinderService" />
        <service
            android:name=".aidl_service_class.MyAidlService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.pp.androidservices.aidl" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name=".messanger_class.MyMessengerService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.pp.androidservices.aidl" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>

</manifest>